PCN_AUTH_ENABLED=true
PCN_ADMIN_USERNAME=admin
PCN_ADMIN_PASSWORD=replace-with-a-long-admin-password
PCN_OPERATOR_USERNAME=csc
PCN_OPERATOR_PASSWORD=replace-with-a-long-operator-password
PCN_DRIVE_PATH=data/drive
PCN_DRIVE_QUOTA_BYTES=42949672960
